@model IEnumerable<Delivery>

<h2>Список заказов на доставку</h2>

<div>
    <table class="table table-bordered table-striped" style="font-size:18px; width:85%">
        <thead>
            <tr style="text-align:center">
                <th>Номер заказа</th>
                <th>Город отправителя</th>
                <th>Адрес отправителя</th>
                <th>Город получателя</th>
                <th>Адрес получателя</th>
                <th>Вес</th>
                <th>Дата забора</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var delivery in Model)
            {
                <tr>
                    <td style="text-align:center"><a href="@Url.Action("Details", "Home", new { id = delivery.Id })">@delivery.Id</a></td>
                    <td style="text-align:center">@delivery.SenderCity</td>
                    <td>@delivery.SenderAddress</td>
                    <td style="text-align:center">@delivery.RecipientCity</td>
                    <td>@delivery.RecipientAddress</td>
                    <td style="text-align:center">@delivery.Weight</td>
                    <td style="text-align:center">@delivery.PickupDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Create" class="btn btn-primary">Создать заказ</a>
</div>